.presente {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  border-top: solid 0.1rem #a47764;
}

.presente h1 {
  text-align: center;
  font-size: 2.4rem;
  font-family: Open Sans Hebrew;
  color: #a47764;
  font-weight: 400;
  font-style: italic;
  margin-top: 5rem;
}

.produtos {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}
