.heading {
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url("./M&W-002\ 1.png");
  background-size: cover;
  height: 46.6rem;
}

.heading img {
  display: flex;
  width: 22rem;
  height: 26rem;
  opacity: 70%;
  margin-top: 5rem;
}
