.heading {
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url("./imgs/M&W-002\ 1.png");
  background-size: cover;
  height: 46.6rem;
}

.bordas {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  border: solid 0.2rem #9d7e63;
  background-color: #fffcf8;
  opacity: 70%;
  margin-top: 3rem;
}

.bordas img {
  width: 25rem;
  height: 27rem;
  opacity: 85%;
  margin-top: 2.5rem;
}
