.ceremonia {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 5rem;
}

.ceremonia h1 {
  font-size: 1.8rem;
  font-family: Open Sans Hebrew;
  color: #404951;
  letter-spacing: 30%;
}

.ceremonia p {
  font-size: 1.4rem;
  font-family: Open Sans Hebrew;
  color: #404951;
  letter-spacing: 10%;
}

.ceremonia iframe {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 35rem;
  height: 19rem;
  border: 0;
}
